matplotlib==3.0.3
torch==1.0.1.post2
dash_core_components==0.43.0
dash_table==3.2.0
passlib==1.7.1
numpy==1.14.3
pandas_datareader==0.7.0
dash_html_components==0.13.5
plotly==3.3.0
pytz==2018.4
SQLAlchemy==1.2.7
pandas==0.22.0
ondemand==1.0.0
dash_bootstrap_components==0.3.3
dash==0.38.0rc1
six==1.11.0
scipy==1.1.0
